.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}


.mainContaner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.show {
  display: block
}

.hide {
  display: none;
}